Customer_Feedback_System (1).json
{
  "name": "Customer Feedback System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Feedback",
        "formDescription": "Please provide youre feedback here.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Please type your full name here.",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "please provide your email.",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "Please give your feedback here.",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "9de991e2-c7a8-476a-88c7-8376be0df91c",
      "name": "On form submission",
      "webhookId": "a42bcb2a-6d38-4508-ade0-32543b5eb27e"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Your role is to determine if a customer feedback is a Feature Request, a Compliment or a Complaint.\n\nHere is the customer feedback:{{ $json.Feedback }}\n\nPLease make sure your output is only one of the three categories: Feature Request, a Compliment or a Complaint.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        -340
      ],
      "id": "1c36c203-67b4-4842-918a-100b2e34fd89",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        -180
      ],
      "id": "192b0124-01ef-44af-a004-9c694edb73f8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GgvCwcPhIr8AAP5D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        440,
        -140
      ],
      "id": "00d8d6e7-e7e5-4c6b-8ac6-6a6e8efdbb8b",
      "name": "Calculator"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        580,
        -20
      ],
      "id": "7c8637b9-1c62-431c-829c-b67ae48f791a",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Compliment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "acc74553-3644-4b03-84a2-e877445f887b",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b7f2049-dcdd-4cdf-b462-ed52100da664",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Feature request"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        -20
      ],
      "id": "a25e87e3-6146-4b59-86aa-5525054004c4",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE",
          "mode": "list",
          "cachedResultName": "Customer feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        -160
      ],
      "id": "5e32e0b3-7e58-4754-b40b-e8b622e76ee7",
      "name": "Compliment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ugpyltO1vW4sTXNh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE",
          "mode": "list",
          "cachedResultName": "Customer feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1988868651,
          "mode": "list",
          "cachedResultName": "Complaint",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE/edit#gid=1988868651"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1140,
        -20
      ],
      "id": "b87c60aa-e92b-4295-acd6-cef9ea2afce2",
      "name": "Complaint",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ugpyltO1vW4sTXNh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE",
          "mode": "list",
          "cachedResultName": "Customer feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2127813980,
          "mode": "list",
          "cachedResultName": "Feature request",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSVVW2Edkn7B8Uvj8-YTnAxNeew1j7eWou_rwNFIrTE/edit#gid=2127813980"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        100
      ],
      "id": "e25f0656-9cf3-41d1-875a-3abeac258dd5",
      "name": "Feature request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ugpyltO1vW4sTXNh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08DMJL9A4V",
          "mode": "list",
          "cachedResultName": "compliments"
        },
        "text": "={{ $json.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1220,
        -160
      ],
      "id": "3c4cbc1c-6f4d-4e3a-afec-d97fc66719fe",
      "name": "Slack",
      "webhookId": "54413149-56e5-49b8-9311-938e18b3c438",
      "credentials": {
        "slackOAuth2Api": {
          "id": "mpXiYuXusbuZu21U",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08DQCBE550",
          "mode": "list",
          "cachedResultName": "feature-requests"
        },
        "text": "={{ $json.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1260,
        100
      ],
      "id": "385032ce-fd3d-455a-95ed-e99ba0e25367",
      "name": "Slack1",
      "webhookId": "54413149-56e5-49b8-9311-938e18b3c438",
      "credentials": {
        "slackOAuth2Api": {
          "id": "mpXiYuXusbuZu21U",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": " Apologies for the Inconvenience – We're Looking Into Your Issue",
        "message": "=Hello {{ $json['Name '] }},\n\nWe sincerely apologize for the inconvenience you are experiencing. Our team is actively looking into your issue, and we will get back to you as soon as possible with a resolution.\n\nIf you have any additional details that could help us resolve this matter faster, please feel free to share them.\n\nThank you for your patience and understanding.\n\nBest regards,\n[Your Name]\n[Your Company Name]\n[Your Contact Information]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        -20
      ],
      "id": "eda801ec-ee8a-4667-8040-d802f8c85ba7",
      "name": "Gmail",
      "webhookId": "35e2b17f-9544-4911-9fb7-cfe0b85acae1",
      "credentials": {
        "gmailOAuth2": {
          "id": "NtUJOvb3VBruIASH",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Compliment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complaint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feature request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliment": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature request": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1283c763-4823-43b0-897d-1f60ee297a4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50618e78906785f75ac298c8b090bb3bd6406a17352da71ebb8b85e6df90fa3a"
  },
  "id": "vGxWKIpLJefbNupa",
  "tags": []
}