fb_ig_autopost.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "# 05. Finalize: Update Sheet Status\n\n**Purpose:** Marks the processed post idea as completed in the Google Sheet.\n\n**Action:** Finds the corresponding row in the sheet (using the 'Topic' to match) and updates its 'Status' column to 'Posted'. This prevents the same idea from being processed again by the workflow in future runs.",
        "height": 300,
        "width": 380,
        "color": 6
      },
      "id": "6b164284-3abc-4560-a8e6-5aa3f2c54924",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 00. Scheduled Start & Input Preparation\n\n**Purpose:** Initiates the workflow automatically based on the user-defined schedule. Fetches the next available post idea (Status=Pending) from Google Sheets and prepares the necessary input variables  for the content generation steps.",
        "height": 240,
        "width": 420
      },
      "id": "068af121-1cba-4e70-8644-3b33348a37ad",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3088,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "result.image",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1056,
        960
      ],
      "id": "3dd1ef04-2480-4e7a-bf32-979e2a8f05c7",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1472,
        960
      ],
      "id": "e829cf3f-7b15-454c-92ce-1c09c3b5a98a",
      "name": "Get accounts1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $json.result[0].id }}/ai/run/@cf/black-forest-labs/flux-1-schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ \n\nJSON.stringify(\n  {\n    prompt: $('Setup workflow1').item.json.prompt,\n    seed: $('Setup workflow1').item.json.seed,\n    \"width\": $('Setup workflow1').item.json.width,\n    \"height\": $('Setup workflow1').item.json.height,\n    \"steps\": $('Setup workflow1').item.json.steps\n  }\n) \n\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        960
      ],
      "id": "b38305b7-7f0b-4696-8cb9-eea7a7d99035",
      "name": "Get Flux Schnell image1"
    },
    {
      "parameters": {
        "errorMessage": "The size of the image (width x height) is larger than 1 megapixel"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1728,
        736
      ],
      "id": "707fb6c2-6ce2-45a0-b6ad-effd661e3530",
      "name": "Image > 1 megapixel1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6e30a82-76cd-4bfd-9bc5-b7fffb15e35c",
              "leftValue": "={{ $json.width * $json.height > 1048576 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        880
      ],
      "id": "e2e07a69-b5de-46ae-8638-a06de44a54c7",
      "name": "Check image size1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7d5020-0710-4f3c-858f-0485a2bd2963",
              "name": "width",
              "value": "={{ $json.width || 1024 }}",
              "type": "number"
            },
            {
              "id": "39b906fa-3e0b-45b9-9c1b-95cbc51e195d",
              "name": "prompt",
              "value": "=Fireworks exploding over a golden piggy bank with '2026' text, confetti everywhere, midnight blue background",
              "type": "string"
            },
            {
              "id": "3f8593d2-cfb3-437a-a9fc-4430995cb78f",
              "name": "height",
              "value": "={{ $json.height || 1024 }}",
              "type": "number"
            },
            {
              "id": "065181ef-404a-4860-9019-976e6e8391e0",
              "name": "seed",
              "value": "={{ Math.floor(Math.random() * 100000000) }}",
              "type": "number"
            },
            {
              "id": "2c131da3-e708-4468-bb09-d400e7e5f28c",
              "name": "steps",
              "value": 4,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2176,
        880
      ],
      "id": "7de6ee28-3d82-459e-86ef-559d4d4cb90f",
      "name": "Setup workflow1"
    },
    {
      "parameters": {
        "content": "# 🚨Add the CloudFlare API token, read this carefully\n\n### Add the workers AI authentication template\n### Then edit the token, and add the `Accounts -> Account Settings (Read)` permission and save it",
        "height": 416,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1536,
        656
      ],
      "id": "5475a48f-2995-4826-9564-37ea2a82b5c2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2576,
        880
      ],
      "id": "0621c556-0bc7-44a0-9d8c-7b92e6ba1d28",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19s1cw7nq7wP7sz-rmeh0kFZpGahg_gS4kFSzBONTw34",
          "mode": "list",
          "cachedResultName": "FB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19s1cw7nq7wP7sz-rmeh0kFZpGahg_gS4kFSzBONTw34/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19s1cw7nq7wP7sz-rmeh0kFZpGahg_gS4kFSzBONTw34/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2368,
        880
      ],
      "id": "cfa65fd5-d5df-4651-a313-4e97743a40db",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R3XXJ1WeX4KZZ7Hi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "<PAGE-ID>",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "=content and hashtag from sheet."
              },
              {
                "name": "image_url",
                "value": "={{ $json.image_url }}"
              }
            ]
          }
        }
      },
      "id": "c68bfade-26c1-4f79-8298-5555942ee06a",
      "name": "6a. Create Instagram Media Container1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -336,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "fcf2f565-b9d0-4d0f-96b1-6db915a778ff",
      "name": "6b. Wait for Container Processing1",
      "type": "n8n-nodes-base.wait",
      "position": [
        -48,
        752
      ],
      "webhookId": "1b14c8bf-151a-4054-8215-093dd5b6cbcc",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841478371420095",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "a96d1937-b69b-4eb5-836b-e60e44d369e8",
      "name": "6c. Publish Post to Instagram1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        208,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA",
          "mode": "list",
          "cachedResultName": "IG ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Posted",
            "IG_Image_URL": "={{ $('5. Prepare Data for Instagram API1').item.json.image_url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Prompt",
              "displayName": "IG_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Caption",
              "displayName": "IG_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Hashtags",
              "displayName": "IG_Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Image_URL",
              "displayName": "IG_Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3c9df162-37d6-48dd-ac8d-42f4f1cbae1c",
      "name": "7. Update Post Status in Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        528,
        992
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R3XXJ1WeX4KZZ7Hi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a4260ba-3bde-4444-8f42-8a8abd51ff0c",
              "name": "image_url",
              "type": "string",
              "value": "={{ $json.data.image.url }}"
            },
            {
              "id": "1953ae03-6a86-4847-8686-5a928637be1d",
              "name": "content",
              "type": "string",
              "value": "={{ $('Get row(s) in sheet').item.json.IG_Caption }}\n\n{{ $('Get row(s) in sheet').item.json.IG_Hashtags }}"
            }
          ]
        },
        "options": {}
      },
      "id": "699e28cc-6990-4602-8b45-85d181ba29c0",
      "name": "5. Prepare Data for Instagram API1",
      "type": "n8n-nodes-base.set",
      "position": [
        -608,
        752
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload?expiration=600&key=969478ccfb49114e6cdd9212ba1118ab",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -896,
        960
      ],
      "id": "d74b2499-2267-4e93-9b44-6fae2e8325d3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "# 04. Instagram Publishing\n\n**Purpose:** This block takes the final image URL and caption, prepares them for the Instagram Graph API, uploads the media to create a container, waits for Instagram to process it, and finally publishes the container as a post to the connected Instagram account.\n\n**Input (from Nodes '3c. Generate Post Caption (Gemini)' & '4. Generate Image using Prompt 1 (Replicate Flux)'):**\n*   `ImageURL` (string: URL of the generated image from Replicate)\n*   `Caption` (string: Generated post text with hashtags from Gemini)\n\n**Process:**\n1.  **Format Data (`5. Prepare Data...`):** Organizes the ImageURL and Caption into the required structure.\n2.  **Create Media Container (`6a. Create...`):** Sends the `image_url` and `caption` to the Instagram Graph API (`media` edge) to initiate the upload. Receives a container `id`.\n3.  **Wait for Processing (`6b. Wait...`):** Pauses the workflow to allow Instagram's servers time to process the uploaded media. *Note: Wait time might need adjustment depending on media size and API responsiveness.*\n4.  **Publish Media (`6c. Publish...`):** Sends the container `id` (as `creation_id`) to the Instagram Graph API (`media_publish` edge) to make the post live.\n\n**Output:** The content is published as a new post on the target Instagram profile. The final node (`6c. Publish Post...`) returns the `id` of the successfully published media object on Instagram.",
        "height": 740,
        "width": 1160,
        "color": 5
      },
      "id": "a0047e4c-d5eb-4245-a85f-f0447fefea2a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "result.image",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1008,
        2928
      ],
      "id": "ac83272f-ef54-4661-b276-04e771880228",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        2912
      ],
      "id": "55bad3fb-f688-478b-9220-c50147b45100",
      "name": "Get accounts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $json.result[0].id }}/ai/run/@cf/black-forest-labs/flux-1-schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ \n\nJSON.stringify(\n  {\n    prompt: $('Facebook sheet').item.json.IG_Prompt,\n    seed: $('Setup workflow').item.json.seed,\n    \"width\": $('Setup workflow').item.json.width,\n    \"height\": $('Setup workflow').item.json.height,\n    \"steps\": $('Setup workflow').item.json.steps\n  }\n) \n\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        2912
      ],
      "id": "e7324f3c-f307-4d17-9c53-790105b06cdc",
      "name": "Get Flux Schnell image"
    },
    {
      "parameters": {
        "errorMessage": "The size of the image (width x height) is larger than 1 megapixel"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2128,
        2752
      ],
      "id": "979169cf-e6d0-4e8a-b30f-5c09a09a1acc",
      "name": "Image > 1 megapixel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6e30a82-76cd-4bfd-9bc5-b7fffb15e35c",
              "leftValue": "={{ $json.width * $json.height > 1048576 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2352,
        2896
      ],
      "id": "10773547-bd77-4f8f-89d7-636c0caf2525",
      "name": "Check image size"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7d5020-0710-4f3c-858f-0485a2bd2963",
              "name": "width",
              "value": "={{ $json.width || 1024 }}",
              "type": "number"
            },
            {
              "id": "39b906fa-3e0b-45b9-9c1b-95cbc51e195d",
              "name": "FB_Prompt",
              "value": "=Fireworks exploding over a golden piggy bank with '2026' text, confetti everywhere, midnight blue background",
              "type": "string"
            },
            {
              "id": "3f8593d2-cfb3-437a-a9fc-4430995cb78f",
              "name": "height",
              "value": "={{ $json.height || 1024 }}",
              "type": "number"
            },
            {
              "id": "065181ef-404a-4860-9019-976e6e8391e0",
              "name": "seed",
              "value": "={{ Math.floor(Math.random() * 100000000) }}",
              "type": "number"
            },
            {
              "id": "2c131da3-e708-4468-bb09-d400e7e5f28c",
              "name": "steps",
              "value": 4,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        2896
      ],
      "id": "f7736140-5305-4d19-99ff-3d96fcc8bd42",
      "name": "Setup workflow"
    },
    {
      "parameters": {
        "content": "# 🚨Add the CloudFlare API token, read this carefully\n\n### Add the workers AI authentication template\n### Then edit the token, and add the `Accounts -> Account Settings (Read)` permission and save it",
        "height": 416,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        2624
      ],
      "id": "0cf32a77-1201-406a-8631-82d5081213ac",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3248,
        2880
      ],
      "id": "0cae7e07-16b8-4468-a7a5-b786cb019a9e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA",
          "mode": "list",
          "cachedResultName": "IG ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Facebook sheet').item.json.row_number }}",
            "Status": "Posted",
            "IG_Image_URL": "={{ $('5. Prepare Data for Instagram API').item.json.image_url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Prompt",
              "displayName": "IG_Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Caption",
              "displayName": "IG_Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Hashtags",
              "displayName": "IG_Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG_Image_URL",
              "displayName": "IG_Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5140c853-d7a2-4a11-9153-c4fe847d4747",
      "name": "7. Update Post Status in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -32,
        2928
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R3XXJ1WeX4KZZ7Hi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "YOUR_APPLICATION_ID",
        "edge": "feed",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "=caption and hashtag from sheet"
              }
            ]
          }
        }
      },
      "id": "0c520ee6-16bd-4ddc-a7a4-11edfbad747b",
      "name": "Post to facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -512,
        2928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 00. Scheduled Start & Input Preparation\n\n**Purpose:** Initiates the workflow automatically based on the user-defined schedule. Fetches the next available post idea (Status=Pending) from Google Sheets and prepares the necessary input variables  for the content generation steps.",
        "height": 240,
        "width": 420
      },
      "id": "b7e75daa-6349-492b-b9a3-87b5dec5db77",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3712,
        2800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 05. Finalize: Update Sheet Status\n\n**Purpose:** Marks the processed post idea as completed in the Google Sheet.\n\n**Action:** Finds the corresponding row in the sheet (using the 'Topic' to match) and updates its 'Status' column to 'Posted'. This prevents the same idea from being processed again by the workflow in future runs.",
        "height": 300,
        "width": 380,
        "color": 6
      },
      "id": "a9e0210c-f573-4933-81ad-cc019eb8bdb1",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        2784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA",
          "mode": "list",
          "cachedResultName": "IG ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-xo6EVke9TevJVw3NWmqezX_NMqlOfua0aRCq2qEsAA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2944,
        2880
      ],
      "id": "771c476a-74b3-4a97-810d-e23f5401e035",
      "name": "Facebook sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R3XXJ1WeX4KZZ7Hi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## IG workflow",
        "height": 80,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        16
      ],
      "typeVersion": 1,
      "id": "fcb41610-0acc-454d-a0e9-830033861191",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## FB workflow",
        "height": 80,
        "width": 1008,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2224,
        1488
      ],
      "typeVersion": 1,
      "id": "1a360053-0093-4b3c-b360-bdcb9cedc18c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n## Google Services Setup\n\n### 2.1 Enable Google APIs\n1. Go to [Google Cloud Console](https://console.cloud.google.com/)\n2. Create new project or select existing one\n3. Go to **\"APIs & Services\"** → **\"Library\"**\n4. Enable these APIs:\n   - Google Sheets API\n   - Gmail API\n   - Google Drive API (optional)\n\n### 2.2 Create Service Account\n1. Go to **\"APIs & Services\"** → **\"Credentials\"**\n2. Click **\"Create Credentials\"** → **\"Service Account\"**\n3. Name: `n8n-facebook-automation`\n4. Click **\"Create and Continue\"**\n5. Skip role assignment (click **\"Continue\"**)\n6. Click **\"Done\"**\n\n### 2.3 Generate Service Account Key\n1. Click on your service account email\n2. Go to **\"Keys\"** tab\n3. Click **\"Add Key\"** → **\"Create New Key\"**\n4. Choose **\"JSON\"** format\n5. Download the JSON file (save securely)\n\n### 2.4 Prepare Google Sheets\n1. Create one Google Sheets:\n   - **Content Log Sheet**: For tracking generated content\n \n\n2. **Content  Sheet Structure**:\n   - Column A: (Date)\n   - Column B: (IG_Prompt)\n   - Column C: (IG_Caption)\n   - Column C: (IG_Image_URL)\n   - Column C: (IG_Hashtags)\n   - Column C: (Status)\n\n\n\n4. Share both sheets with your service account email (found in the JSON file)\n\n---\n",
        "height": 1040,
        "width": 656,
        "color": 3
      },
      "id": "82dd168c-3d13-4695-a6ab-c6841d2b93ff",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3184,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Complete Setup Guide: AI Facebook Post Generator\n\n## Prerequisites Checklist\n\nBefore starting, ensure you have:\n- [ ] n8n instance (cloud or self-hosted)\n- [ ] Facebook Business Page (not personal profile)\n- [ ] Google account with access to Sheets and Gmail\n- [ ] Basic understanding of API credentials\n\n**Estimated Setup Time**: 30-45 minutes\n\n---\n\n## Step 1: Facebook Integration Setup\n\n### 1.1 Create Facebook App\n1. Go to [Facebook Developers](https://developers.facebook.com/)\n2. Click **\"My Apps\"** → **\"Create App\"**\n3. Choose **\"Business\"** as app type\n4. Enter app name: `n8n-facebook-poster` (or your preferred name)\n5. Click **\"Create App\"**\n\n### 1.2 Configure Facebook App\n1. In your app dashboard, go to **\"Add a Product\"**\n2. Find **\"Facebook Login\"** and click **\"Set Up\"**\n3. Go to **Settings** → **Basic**\n4. Add your domain to **\"App Domains\"** (for n8n cloud: `app.n8n.cloud`)\n5. Save changes\n\n### 1.3 Get Page Access Token\n1. Go to **Tools** → **Graph API Explorer**\n2. Select your app from the dropdown\n3. Click **\"Generate Access Token\"**\n4. Grant permissions: `pages_manage_posts`, `pages_read_engagement`, `pages_show_list`\n5. Select your Facebook page\n6. Copy the **Page Access Token** (starts with `EAAG...`)\n7. **Important**: Extend token to long-lived:\n   - Use Graph API Explorer\n   - Make GET request to: `/oauth/access_token?grant_type=fb_exchange_token&client_id=YOUR_APP_ID&client_secret=YOUR_APP_SECRET&fb_exchange_token=YOUR_SHORT_TOKEN`\n\n### 1.4 Get Your Page ID\n1. Go to your Facebook page\n2. Click **\"About\"** tab\n3. Scroll down to find **\"Page ID\"** or\n4. Use Graph API Explorer: GET request to `/me/accounts` with your token\n\n---",
        "height": 1264,
        "width": 672
      },
      "id": "8416842a-0020-48e2-a598-89aa67031179",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n## Google Services Setup\n\n### 2.1 Enable Google APIs\n1. Go to [Google Cloud Console](https://console.cloud.google.com/)\n2. Create new project or select existing one\n3. Go to **\"APIs & Services\"** → **\"Library\"**\n4. Enable these APIs:\n   - Google Sheets API\n   - Gmail API\n   - Google Drive API (optional)\n\n### 2.2 Create Service Account\n1. Go to **\"APIs & Services\"** → **\"Credentials\"**\n2. Click **\"Create Credentials\"** → **\"Service Account\"**\n3. Name: `n8n-facebook-automation`\n4. Click **\"Create and Continue\"**\n5. Skip role assignment (click **\"Continue\"**)\n6. Click **\"Done\"**\n\n### 2.3 Generate Service Account Key\n1. Click on your service account email\n2. Go to **\"Keys\"** tab\n3. Click **\"Add Key\"** → **\"Create New Key\"**\n4. Choose **\"JSON\"** format\n5. Download the JSON file (save securely)\n\n### 2.4 Prepare Google Sheets\n1. Create one Google Sheets:\n   - **Content Log Sheet**: For tracking generated content\n \n\n2. **Content  Sheet Structure**:\n   - Column A: (Date)\n   - Column B: (FB_Prompt)\n   - Column C: (FB_Caption)\n   - Column C: (I_Image_URL)\n   - Column C: (FB_Hashtags)\n   - Column C: (Status)\n\n\n\n4. Share both sheets with your service account email (found in the JSON file)\n\n---\n",
        "height": 1040,
        "width": 656,
        "color": 3
      },
      "id": "3e4db541-757c-442a-a200-eff21b14ee5d",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2576,
        -272
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get accounts1": {
      "main": [
        [
          {
            "node": "Get Flux Schnell image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Flux Schnell image1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check image size1": {
      "main": [
        [
          {
            "node": "Image > 1 megapixel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get accounts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup workflow1": {
      "main": [
        [
          {
            "node": "Check image size1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Setup workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6a. Create Instagram Media Container1": {
      "main": [
        [
          {
            "node": "6b. Wait for Container Processing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6b. Wait for Container Processing1": {
      "main": [
        [
          {
            "node": "6c. Publish Post to Instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6c. Publish Post to Instagram1": {
      "main": [
        [
          {
            "node": "7. Update Post Status in Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Prepare Data for Instagram API1": {
      "main": [
        [
          {
            "node": "6a. Create Instagram Media Container1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "5. Prepare Data for Instagram API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Post to facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get accounts": {
      "main": [
        [
          {
            "node": "Get Flux Schnell image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Flux Schnell image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check image size": {
      "main": [
        [
          {
            "node": "Image > 1 megapixel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup workflow": {
      "main": [
        [
          {
            "node": "Check image size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Facebook sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to facebook": {
      "main": [
        [
          {
            "node": "7. Update Post Status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook sheet": {
      "main": [
        [
          {
            "node": "Setup workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b58a23ce-62ec-4439-afc9-60a188fd0c0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd8aab2cf0b9c114c9bc339131b4040763bd7950df3a3f874560c502a8b749bd"
  },
  "id": "3evMtb3C1xhGWnIF",
  "tags": []
}